.locations {
    width: 100%;
    padding: 2.5em 0 2.5em 0;
}

.card-flex{    
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.heading {
    font-size: 1.5rem;
    padding-left: 1em;
}

.daygo {
    text-decoration: underline;
}