.d-flex {
    display: flex;
}

.form {
    padding: 1em;
    width: 100%;
    margin: 0 auto;
}

.searchbar__input {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: var(--dark);
    font-size: 1.15rem;
    margin: 0 auto;
    padding: .5em;
    padding-left: 1.25em;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: none;
    width: 100%;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;    
}

.searchbar__button {
    background-color: pink;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: none;
}

.searchbar__button:active{
    background-color: var(--dark);
}

.svg-arrow {
    margin: 0 auto;
    padding: 1em;
    background-color: pink;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.svg-arrow:active{
    background-color: var(--dark);
}


@media (min-width: 900px) {
    .form {
        width: 50%;
    }
    .seachbar__input {
        height: 70px;
        font-size: 1.25rem;
        padding-left: 2.25em;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
    }
    .searchbar__button {
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
    }
}