.hero {
    background-image: url("../../public/assets/sunsetCliffs.jpeg");
    background-size: cover;
    background-position: center;

    height: 250px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;

    padding-top: 8em;
}

.greeting {
    color: #fff;
    font-size: 32px;
    margin: 0;
    padding-bottom: 2em;
}