.add-location {
    width: 100%;
    padding: 2em 0 1em 0.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}


@media (min-width:900px) {
    .add-location {
        width: 90%;
        margin: 0 auto;
    }
}