/* Hero */

.hero {
  background-image: url("/assets/locations/sunsetCliffs.jpeg");
  background-size: cover;
  background-position: center;

  height: 250px;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;

  padding-top: 3.5em;
}

.greeting {
  color: #fff;
  font-size: 32px;
  margin: 0;
  padding: 1em 0 1em 0;
}

.demo-btns-container{
  display: flex;
  justify-content: center;
  gap: 2em;
}

.demo-btn-wrap{
  width: 35%;
}

.demoBtn {
  padding: 1em;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  border: none;
}

.button:active{
  background-color: var(--dark);
}

/* Locations */

.locations {
  width: 100%;
  padding: 2em 0 1em 0.5em;
}

.card-flex{    
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.heading {
  font-size: 1.5rem;
  padding-left: 1em;
}

.daygo {
  text-decoration: underline;
}



@media (min-width: 900px) {
  /* Hero */
  .hero {
    height: 310px;
    background-position: top;
    padding-top: 5.25em;
  }

  .demo-btns-container {
    justify-content: space-evenly;
    gap: 0;
  }
  .demo-btn-wrap {
    width: 10%;
  }
  .demoBtn {
    padding: 1em;
    border-radius: 25px;
  }

  .greeting { 
    font-size: 42px;
    padding: 1.5em 0 1.5em 0;
  }

  /* Locations */
  .locations {
    width: 90%;
    margin: 0 auto;
    margin-top: 1.75em;
    padding: 2em;
  }
  .heading {
    font-size: 1.75rem;
    padding-left: 0.75em;
  }
  .daygo {
    font-size: 2rem;
  }
}